mixin news-card(item)
  li.news-item&attributes(attributes)
        a(href=item.link).news-link
          .news-icon-date-block
            .news-icon-block
              svg(width="12" height="12").news-icon
                use(href='/images/icons.svg#icon-plus')
            p.news-date= item.date 

          h3.news-title= item.title

          .news-image-block 
            img(src=item.img, alt=item.alt, loading="lazy").news-image