include /shared/components/popup/popup.pug

mixin menu
  -
    const menu_big_links = [
      {title: "ГОЛОВНА", url: '/home.html'},
      {title: "Про комплекс", url: '/home.html#about'},
      {title: "Інфраструктура", url: '/home.html#infrastructure'},
      {title: "ПЛАНУВАННЯ", url: '/plannings.html'},
    ]

    const menu_small_links = [
      {title: "Панорама", url: '/home.html#panorama'},
      {title: "Локація", url: '/home.html#location'},
      {title: "ЖК у цифрах", url: '/home.html#statistics'},
      {title: "Переваги", url: '/home.html#advantages'},
      {title: "Галерея", url: '/home.html#gallery'},
      {title: "Хід будівництва", url: '/construction-progress.html'},
      {title: "Новини", url: '/news.html'},
      {title: "Документація", url: '/home.html#documents'},
      {title: "Контакти", url: '#contacts'},
    ]

  +popup('menu')
    a(href="tel:380970000077").phone-link.hide-on-desktop
      svg.phone-icon
        use(href="/images/icons.svg#icon-phone")
      span.phone-text +38 (097) 000-00-77

    ul.menu-big-list 
      each val, index in menu_big_links
        li.menu-big-item 
          - const isActive = index == 0 ? 'active' : ''
          a(href=val.url class=isActive+' menu__link' data-title=val.title).menu-big-link #{val.title}
      
    ul.menu-small-list 
      each val, index in menu_small_links
        li.menu-small-item 
          - const isActive = index == 0 ? 'active' : ''
          a(href=val.url class=isActive+' menu__link' data-title=val.title).menu-small-link #{val.title}
    
