include ../../../shared/components/swiper-nav/swiper-nav.pug

- 
  const swiper_text = [
    {
      text: 'Житловий квартал бізнес-класу у найвищій точці міста з панорамними краєвидами та відкритим променадом, протяжністю у 420 метрів, що проходить крізь увесь простір, поєднуючи зелені зони, галерею крамниць та ресторанів.'
    },
    {
      text: '11 будинків змінної поверховості ( від 6 до 9 поверхів) формують живу, різноманітну архітектуру кварталу без відчуття тиску висоток. Кожен будинок має власний характер і пластику фасаду, створюючи цілісне, але не одноманітне середовище, де простір дихає разом із тобою.'
    },
    {
      text: 'W-Діагональ — це відкрите серце кварталу: 1.1 га зеленого променаду для дозвілля, культурних подій і щоденного життя. Саме вона формує нову міську культуру та стає точкою тяжіння не лише для мешканців, а й для всієї Вінниці.'
    },
    {
      text: 'Комерційна лінія вздовж W-Діагоналі та окремий торговельний центр формують повноцінну міську інфраструктуру прямо всередині кварталу. Твій бізнес зростає разом із життям району, а все необхідне від кафешок до сервісів – знаходиться біля твого дому.'
    },
    {
      text: 'Міський дитячий садок на 160 місць, площею 4590 м². Кілька хвилин і твоя дитина вже у безпечному та захищеному просторі, створеному для щасливого дитинства.'
    },
    {
      text: 'Новий квартал розкриває панорами Вінниці так, що перехоплює подих: світанки над містом, вечірні вогні та види на набережну з фонтаном. Це висота, з якої місто виглядає інакше — масштабніше, світліше, по-справжньому твоїм.'
    }
  ]

  const swiper_big_img =[
    {img:'/images/about/about-main-1.jpg', alt:'Genplan'},
    {img:'/images/about/about-main-2.jpg', alt:'Build 1'},
    {img:'/images/about/about-main-3.jpg', alt:'Yard'},
    {img:'/images/about/about-main-4.jpg', alt:'Build 2'},
    {img:'/images/about/about-main-5.jpg', alt:'Kids'},
    {img:'/images/about/about-main-6.jpg', alt:'Balconies'}
  ]

  const swiper_small_img = [
    {img:'/images/about/about-sub-1.jpg', alt:'Build 1'},
    {img:'/images/about/about-sub-2.jpg', alt:'Build 2'},
    {img:'/images/about/about-sub-3.jpg', alt:'Build 3'},
    {img:'/images/about/about-sub-4.jpg', alt:'Build 4'},
    {img:'/images/about/about-sub-5.jpg', alt:'Build 5'},
    {img:'/images/about/about-sub-6.jpg', alt:'Build 6'}
  ]

section.about-section(id="about")
  .about-text-block
    h2.about-title Про комплекс 
    
    svg(width="70" height="16").about-icon
      use(href="/images/icons.svg#icon-sign")
    
    .about-text-swiper.swiper
      .swiper-wrapper
        each item in swiper_text
          .swiper-slide
            p.about-text= item.text

    +swiper-nav('about-nav-buttons', 'about-button-prev', 'about-button-next')
  
  .slider-block
    .slider-big.swiper
      .swiper-wrapper
        each item in swiper_big_img
          .swiper-slide
            img(src=item.img, alt=item.alt loading="lazy").slider-img-big
        
      p.main-count.js-about-main-count
        span.current.js-about-current 
        span.next.js-about-next
      p.total.js-about-total
  
    .slider-small.swiper
      .swiper-wrapper
        each item in swiper_small_img
          .swiper-slide
            img(src=item.img, alt=item.alt loading="lazy").slider-img-small
    

      
